@import "tailwindcss";
html, body, #__next {
  height: 100%;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}


body {
  font-family: 'Funnel Sans', sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
}